#margins {
    margin: 50px 500px;
    border-radius: 15px;
    height: 200px;
    background: linear-gradient(to bottom right, #b3ffc0, #acfdfd);
}

.post {
    margin: 25px 0px;
    padding: 35px 0px;
    height: 300px;
    display: grid;
    grid-template-columns: 900px 1000px;    
}

.post-pics {
    height: 300px;
    padding: 0px 75px;
    margin-left: auto;
}

.post-desc {
    background-color: #b3ffc0;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
}

p{
    display: inline;
}
